@charset "utf-8";


.calculator_main_block {
	padding: 20px 20px 40px;

	.block_inner {
		font-family: "Littera Plain",sans-serif;

		&.calc_block {
			display: flex;	
			margin-bottom: 20px;		

			@media all and (max-width: 767px) {
				display: block;
			}
		}

		.calc_left {
			flex: 1 1 auto;
			margin-right: 30px;
			background: #fff;
			box-shadow: 0px 0px 10px rgb(41 47 174 / 15%);
			padding: 30px;
			border-radius: 12px;

			@media all and (max-width: 767px){
				margin: 0 0 20px;
				padding: 20px;
			}

			.field.radio  {
				display: block;
				padding: 0;

				.field_name {
					text-transform: none;
					font-family: "Littera Plain",sans-serif;
					font-size: 20px;
					color: #272727;
					padding-bottom: 16px;
				}

				label {
					font-family: "Littera Plain",sans-serif;
					color: #272727;
					text-transform: none;
					font-size: 16px;
					padding-left: 24px;

					span {
						width: 16px;
						height: 16px;
						border-color: #72b79b;

						&:before{
							background: #72b79b;
						}
					}
				}

				ul li{
					margin: 0 40px 0 0;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.subtitle {
				text-transform: none;
				font-family: "Littera Plain",sans-serif;
				font-size: 20px;
				color: #272727;
				padding: 16px 0 16px;
			}

			.switch {
				padding-bottom: 16px;

				.switch_container {
					display: inline-block;
					cursor: pointer;
					padding-left: 50px;
					position: relative;

					.switch_container__circle {
						position: absolute;
						top: 0;
						left: 0;
						width: 40px;
						height: 24px;
						background: rgba(#ccc, .5);
						border-radius: 30px;

						&:before {
							content: '';
							position: absolute;
							top: 2px;
							bottom: 2px;
							left: 4px;
						    transition: all 0.3s;
						    width: 18px;
						    height: 18px;
						    margin: auto;
						    border-radius: 50%;
						    background: rgba(0,0,0, .5);
						}
					}

					.switch_text {
						font-size: 18px;
						color: #272727;
						line-height: 24px;
						font-weight: 500;
					}
				}

				.field  {
					padding: 16px 0 0 50px;
					margin: 0;
					display: none;
				}

				&.active {
					.switch_container {
						.switch_container__circle {
							background: rgba(#72b79b, .2);

							&:before {
								background: #72b79b;
								left: 18px;
							}
						}
					}

					.field {
						display: block;
					}
				}
			}
		}

		.calc_right {
			flex: 0 0 330px;
			padding-top: 20px;

			.title {
				font-size: 24px;
				padding-bottom: 20px;
			}

			.rezult_wr {
				display: flex;
				align-items: center;
			}

			.btn {
			    background: #72B79B;
			    color: #fff;
			}

			.rezult {
				display: flex;
				align-items: center;
				margin-right: 10px;

				.rezult_main {
				    font-size: 50px;
				    line-height: 52px;
				    font-weight: 500;
				}

				.prefiks {
				    padding-left: 5px;
				    font-size: 14px;

				    span {
				    	display: block;
				    	border-bottom: 1px solid #101828;
				    }
				}
			}
		}
	}

	.calc_form_block_wr {
		display: none;
	}

	.calc_form_block {
		padding: 30px 0;
		display: flex;

		@media all and (max-width: 767px) {
			display: block;
		}

		.left_form {
			flex: 1 1 auto;
			margin-right: 30px;
			border-right: 1px solid #101828;
			padding-right: 30px;

			@media all and (max-width: 767px) {
				padding: 0 0 30px;
				margin: 0;
				border: none;
				border-bottom: 1px solid #101828;
			}

			.btn {
				background: #72B79B;
			    color: #fff;
			    display: inline-block;
			    width: auto;
			    padding: 23px 30px;
			    font-family: "Littera Plain",sans-serif;
			}
		}

		.field {
			input {
				height: 50px;
			    color: #474A89;
			    font-family: "Littera Plain",sans-serif;
			    background: rgba(255,255,255,0.2);
			    border: 1px solid #474A89;
			    box-sizing: border-box;
			    backdrop-filter: blur(20px);
			    border-radius: 10px;
			    padding: 0 12px;
			    font-size: 14px;
			    line-height: 17px;
			}

			input::-webkit-input-placeholder {
				color: #474A89;
			}
		}

		.right_form {
			flex: 0 0 330px;
			padding-top: 20px;

			.name {
				font-size: 24px;
				padding-bottom: 10px;
			}

			.form_description {
				padding: 0 0 10px;
				font-size: 18px;
			}

			.btn {
				padding: 10px;
				font-family: "Littera Plain",sans-serif;
			}
		}
	}
}