</div>
</div> 
<footer class="footer">
	<div class="link_top"></div>
	<div class="block_inner">
		<div class="footer_top">
			<div class="logo_footer">
				<img src="img/logo_f.svg" alt="">
				<div class="sos_block">
					<a href="#">
						<img src="files/ins.svg" alt="">
					</a>
					<a href="#">
						<img src="files/tg.svg" alt="">
					</a>
					<a href="#">
						<img src="files/face.svg" alt="">
					</a>
				</div>
			</div>
			<div class="contacts_block">
				<div class="title">Контакты</div>
				<div class="inner">Центральный офис: <br><a href="tel:+998901234567">+99890 123 45 67</a></div>
				<div class="inner">Служба поддержки: <br><a href="tel:+998712134567">+99871 213 45 67</a></div>
				<div class="inner">Телеграмм: <br><a href="https://t.me/+998712134567">+99871 213 45 67</a></div>
			</div>
			<div class="menu_one">
				<div class="title">о компании</div>
				<ul>
					<li><a href="#">Тарифы</a></li>
					<li><a href="">Зона покрытия</a></li>
					<li><a href="">Партнеры</a></li>
				</ul>
			</div>
		</div>
		<div class="bottom_footer">
			<div class="copy_site">Urban Telecom 2022</div>
		</div>
	</div>
</footer>
<div class="form-popup-wrapper red_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<div class="title">отправить заявку</div>
			<div class="text">отдел маркетинга</div>
			<form action="">
				<div class="field">
					<input type="text" placeholder="Введите свое имя">
				</div>
				<div class="field">
					<input type="text" placeholder="+998 (__) ___ __ __">
				</div>
				<div class="field file">
					<input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
					<label for="file-2"><span>Прикрепить резюме</span></label>
				</div>
				<div class="field">
					<textarea name="" placeholder="Ваше сообщение" id="" cols="30" rows="10"></textarea>
				</div>
				<button class="btn">Отправить заявкуe</button>
				<div class="police_field">
					<div>При нажатии на кнопку вы автоматически принимаете</div> 
					<a href="#" target="_blank">Пользовательское соглашение на обработку данных</a>
				</div>
			</form>        
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper tt_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<div class="title">отправить заявку</div>
			<form action="">
				<div class="field">
					<input type="text" placeholder="Введите свое имя">
				</div>
				<div class="field">
					<input type="text" placeholder="+998 (__) ___ __ __">
				</div>
				<div class="field">
					<textarea name="" placeholder="Ваше сообщение" id="" cols="30" rows="10"></textarea>
				</div>
				<button class="btn">Отправить</button>
				<div class="police_field">
					<div>При нажатии на кнопку вы автоматически принимаете</div> 
					<a href="#" target="_blank">Пользовательское соглашение на обработку данных</a>
				</div>
			</form>        
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper tariff_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<div class="title">отправить заявку</div>
			<form action="">
				<div class="field">
					<input type="text" placeholder="Введите свое имя">
				</div>
				<div class="field">
					<input type="text" placeholder="+998 (__) ___ __ __">
				</div>
				<div class="field">
					<textarea name="" placeholder="Ваше сообщение" id="" cols="30" rows="10"></textarea>
				</div>
				<button class="btn">Отправить</button>
				<div class="police_field">
					<div>При нажатии на кнопку вы автоматически принимаете</div> 
					<a href="#" target="_blank">Пользовательское соглашение на обработку данных</a>
				</div>
			</form>        
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<script src="https://urbantelecom.uz/themes/urbantelecom/js/main.js" async=""></script>
<script src="js/main-calc.js" async=""></script>
<script src="https://urbantelecom.uz/themes/urbantelecom/js/form-submit.js" async=""></script>
</body>
</html>