<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/calc-styles.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body class="m_bg">
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top">
			<ul>
				<li><a href="#">о нас</a></li>
				<li><a href="">ТАрифы</a></li>
				<li><a href="#maps">Зона покрытия</a></li>
				<li><a href="#partners">партнеры</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
		</div> 
	</div>
</nav> 
<div class="site_wrapper">
<header role="banner" class="header inner_page">
	<div class="header_inner block_inner">
		<div class="menu_header_top">
			<ul>
				<li><a href="#">о нас</a></li>
				<li><a href="">ТАрифы</a></li>
				<li><a href="#maps">Зона покрытия</a></li>
			</ul>
		</div>
		<div class="logo">
			<a href="#">
				<img src="img/logo_d.svg" alt="">
			</a>
		</div>
		<div class="menu_header_top right_m">
			<ul>
				<li><a href="#partners">партнеры</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
		</div>
		<div class="lang_block">
			<div lang="ru-RU" class="lang_active">руc</div>
			<div class="list_lang">
				<a href="#">Eng</a>
			</div>
		</div>
		<div class="burger"><span></span></div>
	</div>
</header>
<div class="content_block_wr">