include _header.jade
	<div class="calculator_main_block">
		<div class="block_inner calc_block">
			<div class="calc_left">
				<div class="field radio">
					<div class="field_name">Какое количество рабочих мест планируется?</div>
					<ul>
						<li>
							<label>
								<input type="radio" checked name="amount_w" value="min_medium"><span></span>3-5
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="amount_w" value="medium"><span></span> 5-10
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="amount_w" value="max_medium"><span></span> 10-20
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="amount_w" value="max"><span></span> 20+
							</label>
						</li>
					</ul>
				</div>
				<div class="field radio">
					<div class="field_name">Сколько часов в день будут использоваться программы с видео-контентом?</div>
					<ul>
						<li>
							<label>
								<input type="radio" checked name="video_w" value="min_medium"><span></span>До 2
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="video_w" value="max_medium"><span></span> От 2 до 4
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="video_w" value="max"><span></span> Свыше 4
							</label>
						</li>
					</ul>
				</div>
				<div class="field radio">
					<div class="field_name">Есть ли у вас CRM или же ERP?</div>
					<ul>
						<li>
							<label>
								<input type="radio" checked name="web_w" value="min_medium"><span></span>Да
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="web_w" value="min"><span></span>Нет
							</label>
						</li>
					</ul>
				</div>
				<div class="field radio">
					<div class="field_name">Как часто вы проводите онлайн конференции</div>
					<ul>
						<li>
							<label>
								<input type="radio" checked name="conf_w" value="min_medium"><span></span>очень редко
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="conf_w" value="max_medium"><span></span>иногда
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="conf_w" value="max"><span></span>регулярно
							</label>
						</li>
					</ul>
				</div>
				<div class="subtitle">Какими сервисами ваша компания пользуется либо планирует пользоваться?</div>
				<div class="switch">
					<div class="switch_container">
						<div class="switch_container__circle"></div>
						<div class="switch_text">Есть ли у вас телефония?</div>
					</div>
				</div>
				<div class="switch">
					<div class="switch_container">
						<div class="switch_container__circle"></div>
						<div class="switch_text">Телевидение</div>
					</div>
					<!-- <div class="field radio">
						<div class="field_name">Планируемое количество телевизоров</div>
						<ul>
							<li>
								<label>
									<input type="radio" name="video_w" value="1"><span></span>1
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="video_w" value=" От 2 до 5 "><span></span> От 2 до 5
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="video_w" value=" Свыше 5 "><span></span> Свыше 5
								</label>
							</li>
						</ul>
					</div> -->
				</div>
				<div class="switch">
					<div class="switch_container">
						<div class="switch_container__circle"></div>
						<div class="switch_text">Видеонаблюдение</div>
					</div>
					<!-- <div class="field radio">
						<div class="field_name">Планируемое количество камер</div>
						<ul>
							<li>
								<label>
									<input type="radio" name="video_nab_w" value="1"><span></span>1
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="video_nab_w" value=" От 2 до 5 "><span></span> От 2 до 5
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="video_nab_w" value=" Свыше 5 "><span></span> Свыше 5
								</label>
							</li>
						</ul>
					</div> -->
				</div>
				<div class="switch">
					<div class="switch_container">
						<div class="switch_container__circle"></div>
						<div class="switch_text">WIFI для гостей</div>
					</div>
					<!-- <div class="field radio">
						<div class="field_name">Возможное количество гостей одновременно выходящих в интернет</div>
						<ul>
							<li>
								<label>
									<input type="radio" name="wifi_w" value="До 5 "><span></span>До 5
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="wifi_w" value=" Свыше 5 "><span></span> Свыше 5
								</label>
							</li>
						</ul>
					</div> -->
				</div>
			</div>
			<div class="calc_right">
				<div class="title">Рекомендуемая скорость</div>
				<div class="rezult_wr">
					<div class="rezult">
						<strong class="rezult_main">50</strong>
						<div class="prefiks">
							<span>Мбит</span>сек.
						</div>
					</div>
					<div class="btn calc_button">Оставить заявку</div>
				</div>
			</div>														
		</div>
		<div class="block_inner calc_form_block_wr">
			<form action="" class="calc_form_block">
				<div class="left_form">
					<div class="field">
						<input type="text" placeholder="ФИО">
					</div>
					<div class="field">
						<input type="text" placeholder="Компания">
					</div>
					<div class="field">
						<input type="text" placeholder="Адрес подключения">
					</div>
					<div class="field">
						<input type="text" placeholder="Электронная почта">
					</div>
					<div class="field">
						<input type="text" placeholder="Мобильный телефон">
					</div>
					<div class="field hidden-field">
						<textarea hidden name="" id="" cols="30" rows="10"></textarea>
					</div>
					<button class="btn">Отправить</button>
				</div>
				<div class="right_form">
					<div class="name">Интернет для бизнеса</div>
					<div class="form_description"><strong class="rezult_main">50</strong> Мбит/сек.</div>
					<div class="btn calc_edit_btn">Внести изменения</div>
				</div>									
			</form>
		</div>
	</div>
include _footer.jade